<%= link_to "Volver al formulario", root_url%>

<div id="alert-margin" class="alert alert-success"> Inscripción exitosa. A la brevedad recibirá una evaluación de su trabajo por email, y los pasos a seguir en caso de ser aprobado</div>
